:host {
  height: 2000px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}

.target-5 {
  flex: 0 0 200px;
}
.target-7{
  flex: 0 0 1000px;
}
